# Frontend Environment Variables
VITE_CONTACT_EMAIL=youssefabdelhakam99@gmail.com
VITE_CONTACT_PHONE=+201023329072
VITE_LINKEDIN_URL=https://linkedin.com/in/youssef-abdelhakam
VITE_GITHUB_URL=https://github.com
VITE_TWITTER_URL=https://twitter.com

# Backend Environment Variables
PORT=3000
NODE_ENV=development
PING_MESSAGE=pong
ALLOWED_ORIGIN=http://localhost:3000
